<div class="row iam">
  <div class="col-md-12">
    <div class="thumbnail">
      <div class="caption">
        <h3 class="bio-title">Qui suis-je ?</h3>
        <p class="text-bio">Dès mon adolescence je me suis engagée dans des associations et sur différents fronts: mon militantisme prenait forme.
         Après un parcours atypique, je deviens plasticienne en 2001 et j’ai durant cette époque touché à différents supports comme l’illustration, la création de livres pour enfant, le stylisme, la photographie…
         En 2009 je m'oriente vers la décoration d’intérieur en intégrant L’École Boulle. Aujourd'hui j'exerce ce métier tout en restant plasticienne.
         C'est aussi en 2001 qu'un déclique se produit aprés le 11septembre lors de la création de Guantánamo: mon "artivisme" c’est révélé à moi comme étant un déroulement logique de ma pensée et de mon engagement idéologique. Je voulais peindre engagé. Les événements dans le monde et en France vont de plus en plus me révolter :  L’islamophobie montante, l'affaire du voile, le halal, l’immigration et la montée du frontisme, la perte des libertés individuelles, les arrestations arbitraires, les guerres successives contre l'axe du mal et bien sur les révolutions arabe vont me donner matière à m'exprimer.
         Il était important pour moi de montrer un visage différent de ceux qu'on diabolise à des fins politique car la tolérance passe par la compréhension du monde et de la vision de l'autre. La tolérance est notre défi à tous.
         L’art est pour moi un des meilleurs moyens de s’engager, de dénoncer et de transmettre encore et toujours son regard du monde dans lequel on vit.</p>
         <div class="row buton-bio">
          <div class="col-md-4 col-sm-4">
          <a class="btn btn-lg btn-primary" <%= link_to "Bienvenue dans mon monde", chemin_path %></p></a>
         </div>
    </div>
  </div>
</div>
</div>
</div>