<div class="row gallerie-chem">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
            <%= image_tag 'portrait1.jpg' %>
      <div class="caption">
        <p><a class="btn btn-lg btn-primary btn-chem1" <%= link_to "Performances/Photos", perf_photo_path %></p></a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag 'paint2.jpg' %>
      <div class="caption">
        <p><a class="btn btn-lg btn-primary btn-chem2" <%= link_to "Peintures", paint_path %></p></a></p>
      </div>
    </div>
  </div>
</div>