<div class="bg-hijra">
<div class="row">
<div class="jumbotron">
    <h1 class="titre-hijra">Hello, world!</h1>
    <p>Depuis des années déjà, un désir de voyage gronde en moi. Par curiosité, d’abord. Par rejet et dégoût du système, ensuite. Ce dégoût n’a cessé de grandir en moi comme une gangrène qui rongerait mon corps et mon esprit. C’est pourquoi, depuis des années, je mets tout en place pour réaliser mon rêve de départ et quitter la France. Entretemps j’ai un peu voyagé, et ces voyages ont renforcé mon envie de partir. Et puis, en rencontrant <span class="text-muted">Philippe</span><span class="glyphicon glyphicon-heart-empty"></span>, celui qui est aujourd’hui mon époux, j’ai trouvé mon alter ego, celui avec qui partager cette aventure car il a toujours eu envie lui aussi de partir et c’est ensemble que nous avons poursuivi ce rêve et élaboré ce projet. Decouvrez notre périple à travers le globe !</p>
  <p><a href="http://www.la-hijra-des-meunier.com/" class="btn btn-primary btn-lg btn-hijra" role="button">Le site des Meunier !</a></p>
</div>
</div>
</div>