<div class="row">
  <div class="col-sm-12 col-md-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item">
          <%= image_tag 'DSC_0072.JPG' %>
        </div>
        <div class="item active">
          <%= image_tag 'portrait11.jpg' %>
        </div>
        <div class="item">
          <%= image_tag 'merazga5.jpg' %>
          <div class="container">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
  </div>
</div>

<div class="row index-row">
  <div class="col-sm-6 col-md-12 welcome">
    <h2>Bienvenue sur le site de <span class="text-muted">Sonia Merazga</span></h2>
    <h4 class="text-index">Rêveuse et tête en l’air depuis ma plus petite enfance, je griffonnais partout et tout le temps. En grandissant mon coup de crayon s’est affiné et mon regard sur les gens et les choses aussi. J’ai voulu être vétérinaire, océanographe, archéologue, médecin sans frontières, sauver le monde et les animaux…Je me suis toujours sentie une âme de révolutionnaire.</h4>
  </div>
</div>