/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  background: url(noir_decors.jpg);
}

/* Welcome*/

.welcome {
  text-align: inherit;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 100px 10px #ffff99;
  colour: #ffff99;
  background: url(noir_decors.jpg);
  color: #D0CDFF;
}

.text-muted {
  color: #D0CDFF !important;
}

.text-index {
  color: #D0CDFF;
}

.index-row {
  margin-left: 40px;
  margin-right: 40px;
}

.btn-primary {
  color: #C0C0C0 !important;
  background: url(noir_decors.jpg);
  border-color: yellow;
}

.btn-primary:hover {
  border-color: red;
}

.accueil:hover {
  color: #FF0000 !important;
}

.sonia {
  background-color: #FF0000 !important;
  border-radius: 5px;
  margin-right: 10px;
}

.sonia:hover {
  background-color: black !important;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-wrapper .navbar {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand {
  color: white !important;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 10px;
  margin-right: 45px;
  margin-left: 45px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 10px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 100;
  line-height: 1;
  letter-spacing: -1px;
  margin-left: 100px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-wrapper .container {
    padding-left:  15px;
    padding-right: 15px;
  }
  .navbar-wrapper .navbar {
    padding-left:  0;
    padding-right: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 30px;
    padding-top: 70px !important;
  }


}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;
    padding: 10px;
  }
}

/*chemin*/

.row3 {
  margin-top: 200px;
}

.gallerie-chem {
  margin-bottom: 150px;
  text-align: center;
}

.chemin {
  color: #B8B8B8;
  background-color: #B8B8B8;
  text-align: center;
  border-radius: 10px;
}

.chemin:hover {
  color: #FFFFE0 !important;
  border-style: solid;
  border-width: 1px; 
  background-color: #778899;
}

.btn-chem1 {
  color: white !important;
  margin-top: 70px;
  border-width: 1px;
  border-style: outset;
  background: url(noir_decors.jpg);
}

.btn-chem1:hover {
  color: yellow !important;
  border-width: 0px;
}

.btn-chem2 {
  color: white !important;
  margin-top: 40px;
  background: url(noir_decors.jpg);
  border-width: 1px;
  border-style: outset;
}

.btn-chem2:hover {
  color: #CC442F !important;
  border-width: 0px;
}

/* page perf_photo*/

#accordion {
  margin-top: 120px;
}

.panel-title {
  font-size: 30px;
  padding-bottom: 0px !important;
}
.gallery1 {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  border-width: 1px;
  border-radius: 10px;
  box-shadow: 0 0 80px 10px #CC0000;
  color: white;
  background-color: rgba(253,255,251,0.5);
}

.portrait {
  margin-top: 10px;
  margin-left: 35px;
}

.perf1 {
  text-align: center;
  margin-top: 10px;
  margin-right: 100px;
  margin-left: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.panel-default {
  text-align: center;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.voile-text {
  padding: 20px;
}

.text-portrait {
  background-color: rgba(138,138,140,0.5);
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.femme-bleue {
  margin: 0px;
}

.text-detourne {
  background-color: rgba(138,138,140,0.5); 
}

.contain-bleu {
  box-shadow: 0 0 80px 10px #23117F;
}

.text-bleu {
  background-color: rgba(0,5,255,0.5);
  box-shadow: 0 0 80px 10px #0005FF;
  color: white;
}

.contain-monde {
  box-shadow: 0 0 80px 10px #FF6C0A;
}

.text-monde {
  background-color: rgba(255,108,10,0.5);
  box-shadow: 0 0 80px 10px #FF6C0A ;
  color: white;

}

/*page paint */

.text-muted {
  color: black;
}

.texte-divers {
  color: black;
}

.algerie {
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 10px;
}

/* surbrillance 
  background: #ffaa00;
  colour: #333;
  box-shadow: 0 0 0 0   001001#ffff99;
  transition: box-shadow .3s ease-in, colour .3s ease-in;*/


.container-guantanamo {
  background-color: white;
  margin-top: 140px;
  border-radius: 10px;
  margin-left: 30px;
  padding-bottom: 10px;
  box-shadow: 0 0 80px 10px #888888;
  colour: #888888;
}

.container-florilege {
  margin-top: 200px;
  box-shadow: 0 0 80px 10px #888888;
  colour: #888888;
  border-radius: 20px;
  color: white;
}

.panel-group {
  margin-top: 70px;

}

.panel-default {
  background: url(noir_decors.jpg);
}

/* Page Hijra */

.hijra {
  color: yellow !important;
}

.hijra:hover {
  color: #FF0066 !important;
}

.jumbotron {
  background-color: #FF0066;
  border-radius: 50px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 50px;
}

 /*background: #ffaa00;
  colour: #333;
  box-shadow: 0 0 0 0   001001#ffff99;
  transition: box-shadow .3s ease-in, colour .3s ease-in;*/

.jumbotron:hover {
  box-shadow: 0 0 80px 10px #FF69B4;
  colour: #ffff99;
}

.titre-hijra {
  background-color: yellow;
  border-radius: 30px;
  text-align: center;
}

.btn-hijra {
  color: #FF0066 !important;
  background: #FFFF00;
  background: linear-gradient(#FFFF00, #FF0066); 
  background-size: 100% 200%;
  transition: background-position .5s;
  box-shadow: 0 1px 25px
  hsla(0,0%,0%,.2) !important;
  margin-left: 10px !important;
}

.btn-hijra:hover, .btn-hijra:focus {
  background-position: 0 -102%;
  color: #FFFF00 !important;
}

.bg-hijra {
  background-color: #026873;
  background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
  linear-gradient(90deg, #FF0066 50%, transparent 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
  linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
  background-size: 13px, 29px, 37px, 53px;
  padding: 100px;
  background-size: 10% 10%; background-origin: border-  box;
}


.bg-hijra:hover {
  background-size: 128px 128px;   overflow: hidden;
  padding: 100px;
  transition: background-size .5s ease-out;
}

/*bio*/

.thumbnail {
  margin-top: 130px;
  margin-left: 30px;
  margin-right: 30px;
  border-width: 0px;
  box-shadow: 0 0 100px 10px #ffff99;
  colour: #ffff99;
  background: url(noir_decors.jpg);
}

.text-bio {
  color: #FFFEEF !important;
  background-color: (#FFFEEF);
  opacity: 0.8 !important;
}

.bio-title {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 10px;
  text-align: center;
} 

/*footer*/
